<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Huesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="hueForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['nombre']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('nombre').dirty || hueForm.get('nombre').touched) && hueForm.get('nombre').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['telefono']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('telefono').dirty || hueForm.get('telefono').touched) && hueForm.get('telefono').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha de Ingreso</ion-label>
            <ion-datetime presentation="date" min="{{date}}" formControlName="fingreso" ></ion-datetime>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['fingreso']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('fingreso').dirty || hueForm.get('fingreso').touched) && hueForm.get('fingreso').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha de Egreso</ion-label>
            <ion-datetime value="{{date2S}}" presentation="date" min="{{date2S}}" formControlName="fegreso" ></ion-datetime>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['fegreso']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('fegreso').dirty || hueForm.get('fegreso').touched) && hueForm.get('fegreso').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
