<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Huesped edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="hueForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <!--ion-input [(ngModel)]="huesped.nombre"></!--ion-input-->
            <ion-input formControlName="nombre" ></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['nombre']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('nombre').dirty || hueForm.get('nombre').touched) 
                && hueForm.get('nombre').hasError(item.type)">
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefono</ion-label>
            <ion-input formControlName="telefono"></ion-input>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['telefono']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('telefono').dirty || hueForm.get('telefono').touched) && hueForm.get('telefono').hasError(item.type)"
                >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select formControlName="habitacion"  placeholder="Selecciona habitacion">
                <ion-select-option value="1">HABITACION 1</ion-select-option>
                <ion-select-option value="2">HABITACION 2</ion-select-option>
                <ion-select-option value="3">HABITACION 3</ion-select-option>
                <ion-select-option value="4">HABITACION 4</ion-select-option>
                <ion-select-option value="5">HABITACION 5</ion-select-option>
                <ion-select-option value="6">HABITACION 6</ion-select-option>
                <ion-select-option value="7">HABITACION 7</ion-select-option>
                <ion-select-option value="8">HABITACION 8</ion-select-option>
                <ion-select-option value="9">HABITACION 9</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <!--div>
            <ng-container *ngFor="let item of valMessage['telefono']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('telefono').dirty || hueForm.get('telefono').touched) && hueForm.get('telefono').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div-->
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select formControlName="rol"  placeholder="Selecciona rol">
                <ion-select-option value="1">HUESPED</ion-select-option>
                <ion-select-option value="2">ADMINISTRADOR</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Fecha de Ingreso</ion-label>
            <ion-datetime size="cover" presentation="date" min="{{date}}" formControlName="fingreso" ></ion-datetime>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['fingreso']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('fingreso').dirty || hueForm.get('fingreso').touched) && hueForm.get('fingreso').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label position="floating">Fecha de Egreso</ion-label>
            <ion-datetime size="cover" value="{{date2S}}" presentation="date" min="{{date2S}}" formControlName="fegreso" ></ion-datetime>
          </ion-item>
          <div>
            <ng-container *ngFor="let item of valMessage['fegreso']">
              <div
                class="errorMessage"
                *ngIf="(hueForm.get('fegreso').dirty || hueForm.get('fegreso').touched) && hueForm.get('fegreso').hasError(item.type)"
              >
                {{item.message}}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-button class="ion-margin"  (click)="addHuesped()" expand="block" fill="clear" shape="round" [routerLink]="['/list-huesped']">
        Agregar Huesped
      </ion-button>
    </form>
  </ion-grid>
</ion-content>
