<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Huespedes Registrados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let item of huespedes; let i = index">
          <div style="display: flex;" class="ion-padding" [routerLink]="['/view-huesped', item.nombre]">
          
          <ion-item >
            <ion-label> {{item.nombre}}</ion-label>
            <!--ion-label> {{item.tel}}</!--ion-label-->
          </ion-item>
          <ion-item-options side="end" (ionSwipe)="deleteHuesped(i)">
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          </div>
      </ion-item-sliding>
       
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addHuesped()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>

</ion-content >
